/* Mixin */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.color-1 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48555b+0,002735+100 */
  background: #48555b; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #48555b 0%, #002735 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #48555b), color-stop(100%, #002735)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #48555b 0%, #002735 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #48555b 0%, #002735 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #48555b 0%, #002735 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #48555b 0%, #002735 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48555b', endColorstr='#002735', GradientType=1); /* IE6-9 fallback on horizontal gradient */

  color: $white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Antic';
}

.color-2 {
  background-color: #3F6170;
}

.color-3 {
  background-color: #90A99C;
}

.color-4 {
  color: $steel;
  background-color: #D1DBBE;
}

.row {
  &.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
  }

  .row {
    margin: 0 auto;
    max-width: $row-width;
  }
}

.gutter-left {
  @media #{$medium-up} {
    margin: 0 0 0 20px;
  }
}

#intro {
  color: $white;

  h2 {
    color: $white;
  }

  section {
    padding: 175px 0 175px 0;
  }

  #i-am {
    font-size: 2.5em;

    span {
      color: #EB2424;
    }
  }

  .title{
    font-size:.9rem;
    span{
      color:#EB2424;

      &.dev{
        color: $base;
      }
    }
  }
}

#my-process {

  color: $iron;

  h2 {
    color: #D1DBBE;
  }

  h3{
    color:#D1DBBE;
  }

  section {
    padding: 50px 0;
  }
  .row{
    padding: 20px 0 40px 0;
  }

  @media #{$medium-up} {
    .collapse{
      img{
        padding:0 20px 0 0;
      }

      .swapped{
        img{
          padding:0 0 0 20px;
        }
      }
    }
  }

}

#my-portfolio {
  section {
    padding: 50px 0;
  }

  li.grid__item {
    padding: 2px;
  }
  .card {
    background-color: $steel;
    padding: 0px;
    min-height: 120px;
  }
}

#me {
  @media #{$medium-up} {
    .collapse{
      img{
        padding:0 20px 0 0;
      }

      .swapped{
        img{
          padding:0 0 0 20px;
        }
      }
    }
  }
  section {
    padding: 50px 0;
  }

  h5 {
    margin-bottom: 0;
    font-weight: 600;
    color: #3F6170;
    small {
      font-size: .8rem;
      margin-bottom: 0;
    }
  }

  .work-item {
    padding: 0 0 10px 0;
  }

  .summary p {
    font-size: .9rem;
    margin: 0;
    padding: 0;

  }
  .work-date {
    font-size: .7rem;
    @media #{$medium-up} {
      padding: .5rem 0 0 0;
    }

  }

  #experience-meta {

    .gutter-left {
      height: 100%;
      @media #{$medium-up} {
        padding: 0 0 0 20px;
        border-left:1px solid $base;
      }
    }

    h5 {
      color: black;
    }
    div {
      padding: 0 0 10px 0;
    }
    h6 {
      margin-bottom: 0;
      font-size: .8rem;
      font-weight: 600;
      color: #3F6170;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: .9rem;
    }

    .skills-list {
      ul li ul {
        font-size: .75rem;
        @include inline-list;
        margin: 0;
        padding: 0;

        li {
          margin: 0 .5rem 0 0;
        }
      }
    }

    .edu li {

      margin: 0 0 .4rem;

      ul {
        margin: 0 0 0 .5rem;
        font-size: .7rem;
        font-style: italic;
      }
    }
  }
}

#my-contact-info {

  @media #{$medium-up} {
    .collapse{
      img{
        padding:0 20px 0 0;
      }

      .swapped{
        img{
          padding:0 0 0 40px;
        }
      }
    }
  }
  color: $iron;

  h2 {
    color: #D1DBBE;
  }
  section {
    padding: 50px 0;
  }

  .contact {
    height: 200px;
    a{
      @include vertical-align;
    }
    img {
      height: 70px;
      position: relative;
      top: -50px;
    }
  }
  .quote {
    height: 200px;
    blockquote {
      font-size: 1.5rem;
      color: $white;
      padding: .1rem 0rem 0 1.1875rem;
      @include vertical-align;
      cite {
        color: $snow;
      }
    }
  }
}
