/* Mixin */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin skew($color, $skew:10deg){
  content: '';
  position: absolute;
  left: 0;
  top: 700px;
  overflow: visible;
  width: 100%;
  height: 300px;
  background-color: $color;
  z-index: -1;
  @include transform(skewY($skew));
}

@mixin radial-gradient($color1, $color2, $setting1:0%, $setting2:100%){
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48555b+0,002735+100 */
  background: $color1; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, $color1 $setting1, $color2 $setting2); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($setting1, $color1), color-stop($setting2, $color2)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, $color1 $setting1, $color2 $setting2); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, $color1 $setting1, $color2 $setting2); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, $color1 $setting1, $color2 $setting2); /* IE10+ */
  background: radial-gradient(ellipse at center, $color1 $setting1, $color2 $setting2); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

@mixin notch($color){
  width: 0;
  height: 0;
  padding: 0 0 5px 0;
  border-style: solid;
  border-width: 20px 40px 0 40px;
  border-color: $color transparent transparent transparent;
}

body{
  overflow-x: hidden;
}


.color-1 {
  @include radial-gradient(#48555b, #002735, 0%, 60%);
  color: $white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Antic';
}

.color-2 {
  background: #446777; /* Old browsers */
  @include linear-gradient(#446777, #32505d);
}

.color-3 {
  background-color: #90A99C;
}

.color-4 {
  color: $steel;
  background-color: #D1DBBE;
}

.row {
  &.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .row {
    margin: 0 auto;
    max-width: $row-width;
  }
}

.gutter-left {
  @media #{$medium-up} {
    margin: 0 0 0 20px;
  }
}

#intro {
  color: $white;

  h2 {
    color: $white;
  }

  section {
    padding: 175px 0 250px 0;
    @media #{$small-up} {
      padding: 100px 0 100px 0;
    }
  }

  #i-am {
    font-size: 2.5em;
    height: 80px;

    span {
      color: #EB2424;
    }
  }

  .title{
    font-size:.9rem;
    span{
      color:#EB2424;

      &.dev{
        color: $base;
      }
    }
  }
}

#my-process {
  .notch {
    @include notch(#002735);
  }

  color: $iron;

  h2 {
    color: #D1DBBE;
  }

  h3{
    color:#D1DBBE;
  }

  section {
    padding: 20px 0;
  }

  .sub-section{
    padding: 20px 0;
  }

  @media #{$medium-up} {
    .collapse{
      img{
        padding:0 20px 0 0;
      }

      .swapped{
        img{
          padding:0 0 0 20px;
        }
      }
    }
  }

}

#my-portfolio {
  .notch {
    @include notch(#32505d);
  }

  li.grid__item {
    padding: 2px;
  }

  .sub-section{
    padding: 20px 0;
  }

  .card {
    background-color: $steel;
    padding: 0px;
    min-height: 100px;
  }

  @media #{$medium-up} {
    .collapse{
      img{
        padding:0 20px 0 0;
      }

      .swapped{
        img{
          padding:0 0 0 20px;
        }
      }
    }
  }
}

#me {
  .notch {
    @include notch(#90A99C);
  }

  @media #{$medium-up} {
    .collapse{
      img{
        padding:0 20px 0 0;
      }

      .swapped{
        img{
          padding:0 0 0 20px;
        }
      }
    }
  }

  .sub-section{
    padding: 20px 0;
  }

  h5 {
    margin-bottom: 0;
    font-weight: 600;
    color: #3F6170;
    small {
      font-size: .8rem;
      margin-bottom: 0;
    }
  }

  .work-item {
    padding: 0 0 10px 0;
  }

  .summary p {
    font-size: .9rem;
    margin: 0;
    padding: 0;

  }
  .work-date {
    font-size: .7rem;
    @media #{$medium-up} {
      padding: .5rem 0 0 0;
    }

  }

  .resume-icon{
    a{
      color: $steel;

      &:hover,
      &:focus {
        color: #EB2424;
      }
    }
  }

  #experience-meta {

    .gutter-left {
      height: 100%;
      @media #{$medium-up} {
        padding: 0 0 0 20px;
        border-left:1px solid $base;
      }
    }

    h5 {
      color: black;
    }
    div {
      padding: 0 0 10px 0;
    }
    h6 {
      margin-bottom: 0;
      font-size: .8rem;
      font-weight: 600;
      color: #3F6170;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: .9rem;
    }

    .skills-list {
      ul li ul {
        font-size: .75rem;
        @include inline-list;
        margin: 0;
        padding: 0;

        li {
          margin: 0 .5rem 0 0;
        }
      }
    }

    .edu li {

      margin: 0 0 .4rem;

      ul {
        margin: 0 0 0 .5rem;
        font-size: .7rem;
        font-style: italic;
      }
    }
  }
}

#my-contact-info {
  .notch {
    @include notch(#D1DBBE);
  }

  .sub-section{
    padding: 20px 0;
  }

  @media #{$medium-up} {
    .collapse{
      img{
        padding:0 20px 0 0;
      }

      .swapped{
        img{
          padding:0 0 0 40px;
        }
      }
    }
  }
  color: $iron;

  h2 {
    color: #D1DBBE;
  }
  section {
    padding: 50px 0 75px 0;
  }

  .quote {
    height: 200px;
    blockquote {
      font-size: 1.5rem;
      color: $white;
      padding: .1rem 0rem 0 1.1875rem;
      @include vertical-align;
      cite {
        color: $snow;
      }
      @media #{$small-only} {
        font-size: 1rem;
      }
    }
  }
}

footer{
  padding: 10px;
  background-color: $jet;
  width: 100%;

  img {
    height: 50px;
  }

  .back-to-top{
    cursor: pointer;
  }

  .contact {

    img{
      padding: 10px;
    }

    a.email img{
      height: 40px;
    }
  }


  @media #{$small-only} {
    padding: 5px;
    img {
      height: 25px;
    }

    .contact {
      img {
        padding: 0 0 0 5px;
      }

      a.email img{
        height: 20px;
      }
    }
  }

  &.footer {
    position:fixed;
    @include translate2d(0, 0);
    bottom:-70px;
    @include transition-property(transform);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in);
    &.stuck {
      @include translate2d(0, -70px);
      z-index: 300;
    }
  }
}
