h2.portolio-detail-name{
  line-height: 1;
}

.portfolio-detail-carousel{
  border: 1px solid #cccccc;
  background-color: #f0f0f0;
}

.slick-track{
  @media #{$small-only} {
    height: 250px;
  }
}

.slick-prev{
  left:15px;
  &:before {
    color: #000;
  }
}

.slick-next{
  right: 15px;
  &:before {
    color: #000;
  }
}